{% extends 'site_base.html' %}
{% load url from future %}
{% load rules_light_tags %}

{% block body %}
<h1>Welcome to django-rules-light test project</h1>

List of users:
<ul>
{% for user in object_list %}
    <li>
        <a href="{% url 'auth_user_detail' user.username %}">{{ user }}</a>
        <a href="{% url 'auth_user_update' user.username %}">update</a> You do {% if not request.user|run_rule:'auth.user.update' %}<b>not</b>{% endif %} have permission.
    </li>
{% endfor %}
</ul>
{% endblock %}
