{% load i18n %}
<html>
    <head>
        <title>{% block head_title %}{% endblock %}</title>
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" />
        {% block extra_head %}
        {% endblock %}
    </head>
    <body>
        <p>
        {% if request.user.is_authenticated %}
            Authenticated as {{ request.user }}. 
            <a href="{{ settings.LOGIN_URL }}">{% trans 'Login again' %}</a>
            or
            <a href="{{ settings.LOGOUT_URL }}">{% trans 'Logout' %}</a>
        {% else %}
            <b>Not</b> authenticated. 
            <a href="{{ settings.LOGIN_URL }}">{% trans 'Login' %}</a>
        {% endif %}
        </p>

        {% block body %}
        {% endblock %}

        <script type="text/javascript" src="{{ STATIC_URL }}jquery.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>

        {% block extra_body %}
        {% endblock %}
    </body>
</html>
